﻿@model Identity.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @*<input name="__RequestVerificationToken" value="yOUpmHFHq2VRN4I8LRkoyEIN1BhcwfEqxl36MwaPWvTQKf8wFzZeQDtNfDLg3FMf5ZqI3_zGcNksKEjc3ypFitO7-sih-TL9HcQfQs4ePr2l-ynZ7mFnuYdjs9TXe4OIOIdzXk-Mhbw8w1Y5eFt0rg2" type="hidden">*@
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



<form action="/account/register" method="post">

    <h3>FirstName</h3>
    <input type="text" name="FirstName" />
    <h3>LastName</h3>
    <input type="text" name="LastName" />
    <h3>Email</h3>
    <input type="text" name="Email" />
    <h3>Password</h3>
    <input type="text" name="Password" />
    <h3>ConfirmPassword</h3>
    <input type="text" name="ConfirmPassword" />

    <input type="submit" class="btn btn-default" value="Register" />

</form>
